/* $midnight: #2c3e50;
$clouds: #ecf0f1; */

body {
    color: #b38300;
    background-color: blanchedalmond;
    padding: 0 1em;

    display: flex;
    justify-content: center;
}

.wrapper {
    width: 70vw;
}

h1 {
    font-size: 4rem;
}

hr {
    background-color: #402f01;
    border: none;
    height: 1px;
}

input {
    display: none;
}

.col {
    display: flex;
    flex-direction: column;
}

img {
    width: 40vw;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
}

.tab {
    width: 100%;
    overflow: hidden;
    margin: 1em auto;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;

}

input:checked+.tab-label {

    color: #402f01;
}


.tab-label:after {
    content: "";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
    color: #402f01;
}

.tabs:hover .tab-label:after {
    content: "+";
}

.tabs:hover .tab-label {
    color: #402f01;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: blanchedalmond;
    transition: all .35s;
    display: flex;
    justify-content: center;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}


input:checked+.tab-label::after {
    transform: rotate(45deg);
    transition: .35s;
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}